<!doctype html>
{% load static %}
<html lang="en">
  <head>
	<!-- Required meta tags -->
	<!--    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="{% static 'shoppingApp/bootstrap/4.4.1/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'shoppingApp/css/style.css' %}">
<!--    <link rel="stylesheet" href="{% static 'shoppingApp/css/tinex_style.css' %}">-->
	<link rel="stylesheet" href="{% static 'shoppingApp/font-awesome/5.14.0/css/all.css' %}">

<!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">-->
<!--    <link rel="stylesheet" href="{% static 'shoppingApp/css/style.css' %}">-->
<!--    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">-->

  </head>
  <style>
	.card .btn {
		z-index:3;
		position:relative;
	}
  </style>
	<script src="{% static 'shoppingApp/jquery/3.5.1/jquery.min.js' %}"></script>
	<script src="{% static 'shoppingApp/popper/1.14.3/popper.min.js' %}"></script>
	<script src="{% static 'shoppingApp/bootstrap/4.4.1/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'shoppingApp/plugins/bootstrap-input-spinner.js' %}"></script>
  <body>

	{% if messages %}
	  <div class="row">
	  <div class="col-sm-6 col-sm-offset-3">
		  {% for message in messages %}
		  <div class="alert alert-{{ message.tags }}" role="alert">
			  <p>{{ message }}</p>
		  </div>
		  {% endfor %}
		</div>

	  </div>
	{% endif %}

	<!-- Modal -->

	<div class="modal fade" id="cartModal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
	  <div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
		  <div class="modal-header">
			<h5 class="modal-title" id="exampleModalLabel">Shopping list</h5>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			  <span aria-hidden="true">&times;</span>
			</button>
		  </div>

		  <div class="modal-body ">
				{% include 'shoppingApp/cart_summary.html' %}
		  </div>

		</div>
	  </div>
	</div>


   <div class="wrapper">
	   <nav id="sidebar">
			<div class="sidebar-header">
				<h3>eShop</h3>
			</div>
			{% include 'shoppingApp/category_list.html' %}
	   </nav>

		<div class="content w-100">

			<nav class="navbar navbar-expand-lg">
				{% block  nav_content %}
				<div class="navbar-header">
					<button class="btn btn-info navbar-btn" type="button" id="sidebarCollapse" >
						<span class="fas fa-align-justify" ></span>
					</button>
				</div>



				<div class="navbar-nav ml-auto" >
					<div class="dropdown" >
					  <button class="btn btn-info dropdown-toggle"  type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<i class="fas fa-user"></i> {% if request.user.is_authenticated %} {{ request.user }} {% else %} Login {% endif %}
					  </button>
					  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
						<a class="dropdown-item" href="/login">Login</a>
						<a class="dropdown-item" href="/registration">Registration</a>
						<a class="dropdown-item" href="/logout">Logout</a>
					  </div>
					</div>
					<div class="pl-2">
						<button class="btn btn-secondary" type="button" data-toggle="modal" data-target="#cartModal"><span class="fas fa-shopping-cart"></span></button>
					</div>

				</div>
				{% endblock  %}
			</nav>

			<div class="container">
				{% block content %}
				{% endblock%}

				<div class="card-columns">
					{% include 'shoppingApp/product_list.html' %}
				</div>
			</div>
		</div>
   </div>

  </body>
	<script>
		$(".spinner_input_button").inputSpinner()
	</script>
	<!-- Sidebar script   -->
	<script type="text/javascript">
		 $(document).ready(function () {
			 $('#sidebarCollapse').on('click', function () {
				 $('#sidebar').toggleClass('active');
			 });
		 });
	</script>
</html>