{% block product_content %}

    {% for product in lst_product %}
        <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{% if product.image %} {{ product.image.url}} {% else %} '#' {% endif %} " alt="{{product.title}}">
                <div class="card-body">
                    <h5 class="card-title">{{product.title}}</h5>
                    <p class="card-text">{{product.price}} денари.</p>
                    <p>{{ product.product_type }}</p>
                    <a href="/product/{{product.id}}" class="stretched-link"></a>
                    {% include 'shoppingApp/product_add.html' %}

                </div>

        </div>
    {% endfor %}

{% endblock %}

